<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

<strong>Objectives:</strong>
<ul>
  <li>List popular languages for Data Science.</li>
  <li>List popular libraries for Data Science.</li>
  <li>List popular tools for Data Science.</li>
  <li>basic Arithmetic</li>
</ul>

Some of the popular languages that Data Scientists use are:
<ol>
  <li>R</li>
  <li>SQL</li>
  <li>Python</li>
  <li>Scala</li>
  <li>Julia</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:
<ol>
  <li>Numpy</li>
  <li>ggplot</li>
  <li>Tensorflow</li>
  <li>Panda</li>
  <li>Keras</li>
</ol>

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Rstudio</td>
      </tr>
      <tr>
          <td>Watson</td>
      </tr>
      <tr>
      <td>Jupyter notebook</td>
    </tr>
  </tbody>
</table>

<h3>Below are a few examples of evaluating arithmetic expressions in Python.</h3>

In [7]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
hours

3.3333333333333335

<h2>Author</h2>
Preet